{% extends "base.html" %}
{% block content %}
    <div class="container my-3">
        <form method="post" action="{% url 'common:login' %}" class="post-from">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
                <label for="username">사용자 ID</label>
                <input type="text" class="form-control" name="username" id="username"
                value="{{ form.username.value|default_if_none:'' }}">
                {# django에서 |는 템플릿의 필터 연산자다. 앞의 값을 뒤의 필터로 처리한다는 의미 #}
                {# form : view에서 전달받은 폼 객체 #}
                {# username : 폼의 username 필드 #}
                {# value : 해당 필드의 현재 값 #}
                {# default_if_none: Django의 내장 템플릿 필터 #}
                {# :'' 필터의 매개변수 (빈 문자열) #}
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password"
                value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
{% endblock %}